<!DOCTYPE html>
<html lang="pt-br">
		<head>

				{% block head %}
						<title>GYM-Manager</title>
				{% endblock %}
		</head>
		<body>
				<header>
						<div>
								<a href="/instructors">Instrucors</a>
								<a href="/members">Members</a>
						</div>
				</header>

		</body>
</html>