<!DOCTYPE html>
<html lang="pt-br">
		<link rel="stylesheet" href="/style.css">
		<head>

				{% block head %}
						<title>GYM-Manager</title>
				{% endblock %}
		</head>
		<body>
				<header >
						<div class="header-content">
								<div class="header-menu">
										<div class="links">
												<a href="/" class="active">Instructors</a>
												<a href="/members">Members</a>
												<a href="/">Sobre</a>
												<a href="/">Contato</a>
										</div>
										<div class="login">
												<a href="">Log in</a>
												<a href="" class="login-button">Sign Up</a>
										</div>
								</div>
						</div>

				</header>

				{% block content %}{% endblock %}

		</body>
</html>