@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
:root {
	--color-primary-background: #2e2e30;
	--color-primary-header: #1111115d;
	--color-primary-text: #5BCA5D;
}

* {
	margin: 0;
	padding: 0;
	border: none;
}

body {
	font-family: "Roboto", sans-serif;
	background-color: var(--color-primary-background);
}

header {
	background-color: var(--color-primary-header);
	width: 100%;
	padding: 22px;
	text-align: center;
	box-sizing: border-box;
}
.links {
	font-size: 1.2rem;
	font-family: 'Montserrat', sans-serif;
}

.links a + a {
	margin-left: 8px;
}

.links a {
	text-decoration: none;
	padding: 8px;
	color: var(--color-primary-text);
	position: relative;
}

.links a:hover {
	color: #84dd85;
}

.links a::after {
	content: "";
	width: 0%;
	height: 2px;
	background-color: var(--color-primary-text);
	position: absolute;
	left: 0;
	bottom: -4px;
}

.links a:hover::after {
	transition: width 200ms cubic-bezier(1, 0.2, 0.65, 0.89);
	width: 100% ;
}

.links a.active {
	font-weight: 700;
	color: orange;
}
.links a.active::after {
	content: "";
	width: 0%;
	height: 2px;
	background-color: orange;
	position: absolute;
	left: 0;
	bottom: -4px;
}

.links a.active:hover::after {
	transition: width 200ms cubic-bezier(1, 0.2, 0.65, 0.89);
	width: 100% ;
}
