{% extends "layout.njk" %}

{% block content %}
		<form class="card-instructor" method="POST" action="/instructors">
				<div class="avatar">
						<img src="https://patch.com/img/cdn/users/22848544/2016/01/raw/2016015695646a12293.jpeg" alt="">
				</div>
				<div class="details">

						<h3>Novo instrutor</h3>

						<div class="item">
								<div>Avatar URL</div>
								<div>
										<input
										type="url"
										name="avatar"
										placeholder="Digite a url da imagem"
										>
								</div>
						</div>

						<div class="item">
								<div>Instrutor</div>
								<div>
										<input
										type="text"
										name="name"
										placeholder="Digite o seu nome"
										>
								</div>
						</div>
						<div class="item">
								<div>Data de nascimento</div>
								<input type="date" name="birth">
						</div>
						<div class="item">
								<div>Área de atuação</div>
								<div>
										<input
										type="text"
										name="services"
										placeholder="Digite sua área de atuação"
										>
								</div>
						</div>
						<div class="item">
								<div>Sexo</div>
								<div>
										<span><input type="radio" name="gender" value="M">Masculino</span>
										<span><input type="radio" name="gender" value="F">Feminino</span>
								</div>
						</div>

				</div>
							<button type="submit" class="button-instructor">Salvar</button>
		</form>
{% endblock content %}