{% extends "layout.njk" %}

{% block content %}
	<div class="card-instructor">
		<div class="avatar">
			<img src="https://patch.com/img/cdn/users/22848544/2016/01/raw/2016015695646a12293.jpeg" alt="">
		</div>
		<div class="details">

			<div class="cadastro">

			</div>

		</div>
	</div>
{% endblock content %}