{% extends "layout.njk" %}

{% block content %}
		<div class="card-instructor">
				<div class="avatar">
						<img src="https://patch.com/img/cdn/users/22848544/2016/01/raw/2016015695646a12293.jpeg" alt="">
				</div>
				<div class="details">
						<h3>Detalhes</h3>

						<div class="item">
								<div>Instrutor</div>
								<div>Eurico Magalhães</div>
						</div>
						<div class="item">
								<div>Idade</div>
								<div>23</div>
						</div>
						<div class="item">
								<div>Especialidade</div>
								<div>
									<span>Pilates</span>
									<span>Hipertrofia</span>
								</div>
						</div>
						<div class="item">
								<div>Sexo</div>
								<div>Maculino</div>
						</div>

				</div>
		</div>
{% endblock content %}